@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
  font-family: "Poetsen";
  src: url("./assets/fonts/PoetsenOne-Regular.ttf") format("truetype"); /* Substitua o caminho pelo local onde o arquivo de fonte está armazenado. */
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/background/Background3.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: border-box;
}

.card-img-top {
  max-width: 50%;
  /* Defina o tamanho desejado */
  margin: 0 auto;
  margin-bottom: -10px;
  /* Centraliza horizontalmente */
}

.card {
  background: transparent;
  max-width: 95%;
  margin: 0 auto;
}
/* Fontes */
.slogan,
.title_foods {
  font-family: "Poetsen", sans-serif;
  color: #fff;
}

.foods_fonts {
  font-family: "Anton", sans-serif;
  color: #ffbd59;
}
